*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    background-color: rgb(255, 236, 66);
}
.inbox{
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
}
.item{
    background: white;
    display: flex;
    padding: 10px 5px;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.item:last-child{
    border-bottom: 0;
}
input:checked + p{
    background: #f9f9f9;
    text-decoration: line-through;
}
input[type="checkbox"]{
    margin: 10px;
}
p{
    margin: 0;
    padding: 10px;
    transition: background 200ms;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #d1e2ff;
}