body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 500px;
  margin: auto;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
  display: none;
}
