*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

div {
  padding: 100px;
  width: 100%;
}

.one {
  background-color: thistle;
}

.two {
  background: mistyrose;
}

.tree {
  background: coral;
}
